In [208]:
import pandas as pd
import numpy as np
data=pd.read_excel(".\data\\6.xlsx")

In [209]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,a,/,a,n,n,n,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
1,a,b,a,n,d,o,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
2,a,b,b,r,e,v,i,a,t,i,...,n,n,n,n,n,n,n,n,n,n
3,a,b,i,d,e,e,e,e,e,e,...,e,e,e,e,e,e,e,e,e,e
4,a,b,l,e,e,e,e,e,e,e,...,e,e,e,e,e,e,e,e,e,e

In [210]:
bool_array = data.applymap(lambda x:type(x)!=int)
out_array = data[bool_array]
out_array.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,a,/,a,n,n,n,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
1,a,b,a,n,d,o,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
2,a,b,b,r,e,v,i,a,t,i,...,n,n,n,n,n,n,n,n,n,n
3,a,b,i,d,e,e,e,e,e,e,...,e,e,e,e,e,e,e,e,e,e
4,a,b,l,e,e,e,e,e,e,e,...,e,e,e,e,e,e,e,e,e,e

In [211]:
# 填充缺失值，填充为前一个或后一个（反正去重完只留为一个）
df=out_array.fillna(method='bfill',axis=1) 
df=out_array.fillna(method='ffill',axis=1) 

df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,a,/,a,n,n,n,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
1,a,b,a,n,d,o,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
2,a,b,b,r,e,v,i,a,t,i,...,n,n,n,n,n,n,n,n,n,n
3,a,b,i,d,e,e,e,e,e,e,...,e,e,e,e,e,e,e,e,e,e
4,a,b,l,e,e,e,e,e,e,e,...,e,e,e,e,e,e,e,e,e,e

In [182]:
# df.to_excel("6.xlsx")

In [222]:
def qc(x):
    a=list(np.sum(x))
    s=list(set(a))
    s.sort(key=a.index)
    for i in range(len(s)):
        s[i]=str(s[i])
    t="".join(s)
    return t

In [184]:
# def h(x):
#     if type(x)!=type("a"):
#         return np.nan
#     else:
#         return x

In [223]:
s=df.apply(lambda x :qc(x), axis=1)
s.head()

0          a/n
1        abndo
2    abreviton
3        abide
4         able
dtype: object

In [189]:
s.to_excel("8.xlsx")